
body{
    background-color:lightskyblue;
}
.crop_images {
    /* width of container */
    width: 225px; 
    /* height of container */
    height: 225px; 
    /* try 20px 10px */
    object-position: 20% 10%;
    object-fit: cover; 
    border: 5px transparent grey;
}

p{
background-color: grey;
border: 4px grey solid;
text-align: center;
}

.bottom{
height: 50px;
width: 235px;
margin: 30px 30px 0px 0px;
}

.options{
 height: 50px;
 width: 235px;

}

#jo{
    background-color: transparent;
    border:  4px solid transparent;
}